{% extends 'main/layout.html' %}

{% block title %}Home Screen{% endblock %}

{% block content %}
    <div class="features">
        <a href="/pizzas/?create_pizza=yes"><button type="button" class="btn btn=warning">add pizza</button></a>
        <a href="/pizzas/?delete_pizza=yes"><button type="button" class="btn btn=info">delete pizza</button></a>
        <h1>--- Our pizzeria have this pizzas ---</h1>
        {% for el in Pizzas %}
            <div class="pizza articles">
                <h3>{{ el.name }}</h3>
                <p>Price: {{ el.price }}</p>
            </div>
        {% endfor %}

    </div>
{% endblock %}